#search-bar {
  /* border: 1px solid blue; */
  /* padding: 0.25rem 0.5rem; */
  padding: 0;
  width: 90%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

form {
  display: flex;
  margin: 0.15rem 0;
  padding: 0;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  height: 2rem;
  position: relative;
}

#search-input {
  margin: 0;
  display: block;
  width: 100%;
  padding: 0.5rem 0.25rem;
  height: 2rem;
  border-style: none;
  border: 1px solid black;
  border-right: none;
}

#search-input:focus {
  outline: none;
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
  position: absolute;
  right: 60px;
  bottom: 2px;
  margin: 0;
  padding: 0;
}

form button {
  border: 1px solid black;
  padding: 0.15rem 0.25rem;
  width: auto;
  height: 2rem;
}
