.searchterm {
  border: 1px solid black;
  padding: .25rem .35rem;
  display: flex;
  align-items: center;
  margin: .15rem .25rem;
  margin-left: 0;
}

.searchterm span {
  margin-right: .25rem;
}

button {
  background-color: white;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: black;
  border-style: none;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
