.tweet {
  border: 1px solid black;
  padding: 0.8rem 0.8rem;
  margin: 0.5rem auto;
  width: 90%;
  max-width: 720px;
  top: 100%;
  position: relative;
  /* height: 0; */
  /* padding: 0; */
}

.tweet.fade-enter {
  opacity: 0;
  /* height: 0; */
  /* padding: 0; */
  left: -100%;
}

.tweet.fade-enter-active {
  opacity: 1;
  /* height: auto; */
  /* padding: 0.8rem 0.8rem; */
  left: 0;
  transition: all 200ms ease-in;
}
.tweet.fade-exit {
  opacity: 1;
  /* height: auto; */
  left: 0;
  /* padding: 0.8rem 0.8rem; */
}

.tweet.fade-exit-active {
  opacity: 0;
  /* height: 0; */
  /* padding: 0; */
  left: 100%;
  transition: all 200ms ease-in-out;
}

.tweet__body {
  text-align: left;
}

.tweet-heading {
  display: flex;
  justify-content: space-between;
}

.tweet__user {
  text-align: right;
}

.user-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.user-info__avatar {
  margin-right: 1rem;
  /* height: 0; */
}

.date {
  display: flex;
  justify-content: flex-end;
  color: #404040;
  font-size: 14px;
  text-align: right;
}
