.App {
  text-align: center;
  z-index: 100;
}

.App-header {
  background-color: #282c34;
  padding: 0.5rem 1rem;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1rem;
}
